<!DOCTYPE html>
<html lang="zh" class="view-height-100">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="{{PREFIX}}/icon.svg">
    <title>Primers{{TITLE}}</title>
    <link rel="canonical" href="{{CANONICAL}}" />
    <meta name="description" content="{{DESCRIPTION}}">
    <link rel="stylesheet" href="{{PREFIX}}/view/view.css">
    <script src="{{PREFIX}}/MathJax/es5/tex-svg.js" async></script>
    <style>
        #side-menu {
            transition: all 500ms;
        }

        .side-menu-toggle-0 {
            width: 16rem;
        }

        .side-menu-toggle-1 {
            width: 0;
        }

        @media (max-width: 768px) {
            .side-menu-toggle-0 {
            width: 0;
        }

        .side-menu-toggle-1 {
            width: 16rem;
        }
        }

        .markdown-content {
            min-width: 16rem;
        }

        .markdown-content * {
            max-width: 100%;
        } 

        .markdown-content > * {
            margin-block-start: 1rem;
            margin-block-end: 1rem;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        .markdown-content > img,
        .markdown-content > svg,
        .markdown-content img:only-child,
        .markdown-content svg:only-child {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        .markdown-content .highlight pre {
            background-color: #2E3440;
        }

        .markdown-content .math, .markdown-content .math * {
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0;
            margin-inline-end: 0;
        }
        {{STYLE}}
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HEWPX7E6EV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-HEWPX7E6EV');
    </script>
    <script>
        function toggleMenu() {
            const menu = document.querySelector("#side-menu");
            if (menu.classList.contains("side-menu-toggle-0")) {
                menu.classList.remove("side-menu-toggle-0");
                menu.classList.add("side-menu-toggle-1");
            } else {
                menu.classList.remove("side-menu-toggle-1");
                menu.classList.add("side-menu-toggle-0");
            }
        }
    </script>
</head>

<body class="view-height-100">
    <div id="root" class="view-display-flex view-flex-direction-column view-height-100">
        <nav class="view-display-flex view-background-miku view-align-items-center view-gap-1 view-flex-shrink-0 view-overflow-y-hidden view-overflow-x-auto" role="navigation">
            <a class="view-text-light view-text-decoration-none" href="{{PREFIX}}/">
                <h5 class="view-padding-x-2">Primers</h5>
            </a>
            {% for category in ROOT.subs() %}
                {% if category.isdir() %}
                    {% if category == CATEGORY %}
                        <a class="view-text-light view-text-decoration-solid" href="{{PREFIX}}/document/{{category.urlPath()}}/index.html">{{category.title()}}</a>
                    {% else %}
                        <a class="view-text-nowrap view-text-light view-text-decoration-none" href="{{PREFIX}}/document/{{category.urlPath()}}/index.html">{{category.title()}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </nav>
        
        <div class="view-flex-grow-1 view-display-flex view-flex-direction-row view-overflow-hidden">
            {% if CATEGORY.isdir() %}
                <aside id="side-menu" class="side-menu-toggle-0 view-background-hint view-overflow-y-auto view-overflow-x-hidden view-flex-shrink-0 view-display-flex view-text-nowrap">
                    <div class="view-flex-grow-1 view-display-flex view-flex-direction-column view-padding-2 ">
                        {% for chapter in CATEGORY.subs() %}
                            {% if chapter.isdir() %}
                                <p class="view-text-miku">{{chapter.title()}}</p>
                                <ul class="view-padding-0">
                                    {% for doc in chapter.subs() %}
                                        {% if doc == DOC %}
                                            <p class="view-padding-x-2 view-background-miku"><a class="view-text-light view-text-decoration-none" href="{{PREFIX}}/document/{{CATEGORY.urlPath()}}/{{doc.urlPath()}}.html" title="{{doc.title()}}">{{doc.title()}}</a></p>
                                        {% else %}
                                            <p class="view-padding-x-2"><a class="view-text-miku view-text-decoration-none" href="{{PREFIX}}/document/{{CATEGORY.urlPath()}}/{{chapter.urlPath()}}/{{doc.urlPath()}}.html" title="{{doc.title()}}">{{doc.title()}}</a></p>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <ul class="view-padding-0">
                                    {% if chapter == DOC %}
                                        <p class="view-padding-x-2 view-background-miku"><a class="view-text-light view-text-decoration-none" href="{{PREFIX}}/document/{{CATEGORY.urlPath()}}/{{chapter.urlPath()}}.html" title="{{chapter.title()}}">{{chapter.title()}}</a></p>
                                    {% else %}
                                        <p class="view-padding-x-2"><a class="view-text-miku view-text-decoration-none" href="{{PREFIX}}/document/{{CATEGORY.urlPath()}}/{{chapter.urlPath()}}.html" title="{{chapter.title()}}">{{chapter.title()}}</a></p>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                        <div class="view-flex-grow-1"></div>
                        <div class="view-display-flex">
                            <a class="view-button view-padding-1" href="https://github.com/hubenchang0515/Primers">GitHub</a>
                        </div>
                    </div>
                </aside>
                <div class="view-display-flex view-flex-direction-column view-justify-content-center">
                    <button class="view-button view-height-10" onclick="toggleMenu()">&lt;&gt;</button>
                </div>
            {% endif %}

            <div class="view-flex-grow-1 view-overflow-auto view-height-100">
                <div class="view-container-lg view-padding-x-1">
                    <div class="markdown-content">
                        {{DOC.content()}}

                        <div class="view-text-hint">
                            本文 更新于: {{DOC.update_time()}} 创建于: {{DOC.create_time()}}
                        </div>
                    </div>

                    <h1 class="view-h6 view-text-hint">作者的链接</h6>
                    <div class="view-display-flex view-gap-1 view-align-items-end">
                        <a class="view-text-hint" href="https://hubenchang0515.github.io/" target="_blank">主页</a>
                        <a class="view-text-hint" href="https://hubenchang0515.github.io/Phosphophyllite/" target="_blank">博客</a>
                        <a class="view-text-hint" href="https://hubenchang0515.github.io/QtTheme/" target="_blank">QtTheme</a>
                        <a class="view-text-hint" href="https://hubenchang0515.github.io/moe-tools/" target="_blank">萌萌工具箱</a>
                        <a class="view-text-hint" href="https://hubenchang0515.github.io/QtTheme/" target="_blank">Shift</a>
                    </div>

                    <div class="view-margin-y-4">
                        <script src="https://giscus.app/client.js"
                            data-repo="hubenchang0515/Primers"
                            data-repo-id="R_kgDONsZmvQ"
                            data-category="Announcements"
                            data-category-id="DIC_kwDONsZmvc4CmJzV"
                            data-mapping="pathname"
                            data-strict="0"
                            data-reactions-enabled="1"
                            data-emit-metadata="0"
                            data-input-position="bottom"
                            data-theme="preferred_color_scheme"
                            data-lang="zh-CN"
                            crossorigin="anonymous"
                            async>
                        </script>
                    </div>

                    <footer class="view-background-miku">
                        <div class="view-text-align-center view-text-light">
                            Powered by <a class="view-text-light" href="https://github.com/hubenchang0515/Primers">Primers</a>
                        </div>
                    </footer>
                </div>

                
            </div>
        </div>
    </div>
</body>
</html>